<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.ugsworld.mapper.BoardMapper">
	<insert id="create">
		insert into tbl_board(title, content, writer, price)
		values(#{title}, #{content}, #{writer}, #{price})
	</insert>
	
	<select id="read" resultType="BoardVO">
		select 
			bno, title, content, writer, regdate, viewcnt, replycnt, price
		from 
			tbl_board
		where
			bno = #{bno}
	</select>
	
	<update id="update">
		update tbl_board set title=#{title}, 
							 content = #{content},
							 price = #{price}
		where bno = #{bno}
	</update>
	
	<delete id="delete">
		delete from tbl_board where bno= #{bno}
	</delete>
	
	
	<resultMap id="board_attach" type="BoardVO">
		<result property="bno" column="bno"/>
		<result property="title" column="title"/>
		<result property="content" column="content"/>
		<result property="writer" column="writer"/>
		<result property="regdate" column="regdate"/>
		<result property="viewcnt" column="viewcnt"/>
		<result property="replycnt" column="replycnt"/>
		<result property="price" column="price"/>
		<result property="fullName" column="fullName"/>
	</resultMap>
	
	<select id="listSearch" resultMap="board_attach">
		<![CDATA[
		select 
			b.bno as bno, 
			b.title as title, 
			b.content as content, 
			b.writer as writer, 
			b.regdate as regdate, 
			b.viewcnt as viewcnt,
			b.replycnt as replycnt,
			b.price as price,
			a.fullname as fullname
		from 
			tbl_board as b
		left join
			tbl_attach as a
		using(bno)
		
		where bno > 0
		
		]]>
		
		<include refid="search"></include>
		
		<![CDATA[
		order by bno desc, regdate desc
		
		limit #{pageStart}, #{perPageNum}
		]]>
	</select>
	
	
	
	<!--  
	<select id="listSearch" resultType="BoardVO">
		<![CDATA[
		select 
			bno, title, content, writer, regdate, viewcnt, replycnt
		from
			tbl_board
		where bno > 0
		
		]]>
		
		<include refid="search"></include>
		
		<![CDATA[
		order by bno desc, regdate desc
		
		limit #{pageStart}, #{perPageNum}
		]]>
	</select>
	-->
	<select id="listSearchCount" resultType="int">
		<![CDATA[
		select 
			count(bno)
		from 
			tbl_board
		where 
			bno > 0
		]]>
		<include refid="search"></include>
	</select>
	
	<update id="updateReplyCnt">
		update tbl_board set replycnt = replycnt +${amount} where bno = #{bno}
	</update>
	
	<update id="updateViewCnt">
		update tbl_board set viewcnt = viewcnt + 1 where bno = #{bno}
	</update>
	
<insert id="addAttach">
	insert into tbl_attach(fullName, bno) values (#{fullName}, LAST_INSERT_ID())
</insert>

<select id="getAttach" resultType="string">
	select fullName from tbl_attach where bno = #{bno} order by regdate
</select>

<delete id="deleteAttach">
delete from tbl_attach where bno = #{bno}
</delete>

	
	
	
<sql id="search">
	<if test="searchType != null">
		<if test="searchType == 't'.toString()">
			and title like CONCAT('%', #{keyword}, '%')
		</if>
		<if test="searchType == 'c'.toString()">
			and content like CONCAT('%', #{keyword}, '%')
		</if>
		<if test="searchType == 'w'.toString()">
			and writer like CONCAT('%', #{keyword}, '%')
		</if>
	</if>
</sql>
</mapper>
